[submodule "wiki"]
	path = wiki
	url = https://github.com/voltcyclone/PCILeechFWGenerator.wiki.git
[submodule "site"]
	path = site
	url = https://github.com/voltcyclone/PCILeechFWGenerator-site.git
[submodule "lib/voltcyclone-fpga"]
	path = lib/voltcyclone-fpga
	url = https://github.com/sercanarga/voltcyclone-fpga.git
